extends ../layout/default.pug

block main
  .homepage-container
    .edit-container
      .edited-photo
        img(
          src=finalPhoto
          alt="edited"
          data-frame-type=frameType
          data-selected-frame=selectedFrame
          style="max-height:900px;"
        )
      .edit-options
        p.edit-text Vintage là Filter độc quyền của FotoLatter được nhiều khách hàng yêu thích, tuy nhiên thời gian Loading sẽ mất khoảng 15-20s. Hãy thử Filter này nhé!
        .filter-group
          each value, key in filters
            button.btn-primary.btn-filter(data-filter=key)= key

    button.btn-guide.btn-finish Tiếp tục

    <script type="module" src="/js/apply-filter.js"></script>
